<header>
    <div id="header-init">
        <span id="logo">LOGO</span>

        <div id="material-tab">
            <div class="material">
                <span class="icon" id="woodAmount">0</span>
                <img src="img/wood.png" title="Wood">
            </div>
            <div class="material">
                <span class="icon" id="boneAmount">0</span>
                <img src="img/bones.png" title="Bones">
            </div>
            <div class="material">
                <span class="icon" id="stoneAmount">0</span>
                <img src="img/stone.png" title="Stone">
            </div>
            <div class="material">
                <span class="icon" id="bronzeAmount">0</span>
                <img src="img/bronze.png" title="Bronze">
            </div>
            <div class="material">
                <span class="icon" id="ironAmount">0</span>
                <img src="img/iron.png" title="Iron">
            </div>
            <div class="material">
                <span class="icon" id="silverAmount">0</span>
                <img src="img/silver.png" title="Silver">
            </div>
        </div>
    </div>

    <div id="header-final">
        <div class="currency">
            <span class="icon" id="crystalAmount">0</span>
            <img src="img/gem.png" title="Crystal">
        </div>
        <div class="currency">
            <span class="icon" id="coinAmount">0</span>
            <img src="img/coin.png" title="Coin"> 
        </div>
        <a class="link" href="/">Logout</a>
    </div>
</header>

<section>
    <div id="pve">
        <h1 id="mob-name">Nome do Mob</h1>
        <div id="lifebar">
            0/100
        </div>
        <img class="mob-pic" src="img/mob/tree.png" title="Tree">
    </div>
</section>

<article>
    <div id="mob-type-tab">
        <span class="mob-type">0 Tree</span>
        <span class="mob-type">0 Stone</span>
        <span class="mob-type">0 Monster</span>
    </div>
</article>

<footer>
    <div class="slots">
        <div class="tool">
            <img src="img/weapon1.png">
        </div>
        <div class="tool">
        </div>
        <div class="tool">
        </div>
    </div>

    <div id="options">
        <span class="option-btn" id="shop">
            SHOP
        </span>
        <span class="option-btn" id="friends">
            FRIENDS
        </span>
        <span class="option-btn" id="skills">
            SKILLS
        </span>
        <span class="option-btn" id="craft">
            CRAFT
        </span>
    </div>
</footer>