<header>
    <div id="header-init">
        <span id="logo">LOGO</span>
    </div>
</header>

<section>
    <div id="tab">
        <form method="POST" action="">
            <h1>Registrar</h1>
            <input class="accForm" type="text" placeholder="Username" name="username">

            <input type="password" name="password" class="accForm" placeholder="Password">

            <button class="formBtn" type="submit">Create</button>
            <a class="link" href="/">Already have an account</a>
        </form>
    </div>
</section>

<footer id="credits">
        <address>
            Pictures get from
            <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a>
            <a href="https://www.flaticon.com/">Flaticon</a>
        </address>
        <cite>Page by Seiki Nagaishi</cite>
</footer>